* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --primary-color: rgba(20, 30, 160, 0.5);
  --secondary-color: rgba(20, 30, 160, 0.3);
}

body {
  background-color: var(--primary-color);
  margin: 0;
}

header {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 10px;
  background-color: var(--secondary-color);
}

header form input {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.7);
}

header form input:focus, header form input:hover {
  outline: 0;
  background-color: rgba(255, 255, 255, 0.3);
}

header form input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

header form input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

header form input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

header form input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .movie {
  width: 400px;
  margin: 1rem;
  border-radius: 15px;
  -webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
}

main .movie__btn {
  background: none;
  border: none;
  padding: 0;
  outline: inherit;
  cursor: pointer;
}

main .movie__btn .poster-img {
  width: 400px;
}

main .movie .info {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
}

main .movie .info__title {
  text-transform: uppercase;
  color: #000000;
}

main .movie .info__genres-and-year {
  color: #ff6b08;
  padding: 0 10px;
}

main .movie .info span {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  font-weight: bolder;
}

main .movie .info span.green {
  color: lightgreen;
}

main .movie .info span.red {
  color: red;
}

main .movie .info span.orange {
  color: orange;
}

.movie {
  position: relative;
  overflow: hidden;
}

.movie .overview {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  max-height: 100%;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.movie:hover .overview {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#tags {
  width: 80%;
  display: none;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin: 10px auto;
}

#tags .tag {
  color: #fff;
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border-radius: 5px;
}

#tags .tag:hover, #tags .tag:focus, #tags .tag:active {
  background-color: rgba(255, 255, 255, 0.5);
  color: var(--primary-color);
}

.genres-button {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.genres-button:focus, .genres-button:hover {
  outline: 0;
  background-color: rgba(255, 255, 255, 0.3);
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #eee;
}

.pagination .page {
  padding: 20px;
  cursor: pointer;
}

.pagination .disabled {
  cursor: not-allowed;
  color: rgba(238, 238, 238, 0.244);
}

.pagination .current {
  padding: 10px 15px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.5);
  font-weight: 600;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -40px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  padding-top: 48px;
  border: 1px solid #888;
  width: 280px;
}

.modal-content__img {
  width: 280px;
}

.modal-content__img img {
  max-height: 356.57px;
}

.modal-content__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-content__buttons--add-to-watched, .modal-content__buttons--add-to-queue {
  border-radius: 5px;
  background: #fff;
  cursor: pointer;
  height: 44px;
}

.modal-content__buttons--add-to-watched {
  margin-right: 15px;
}

.modal-content__buttons--add-to-watched:hover, .modal-content__buttons--add-to-queue:hover {
  background: #FF6B01;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .modal-content {
    width: 618px;
  }
  .modal-content__img {
    margin-right: 32px;
    width: 200%;
  }
  .modal-content__sides {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  .modal-content {
    width: 882px;
  }
  .modal-content__img {
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */